# Data Prepocessing

In [1]:
# Importing librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [2]:
#Importing the dataset
df = pd.read_csv('Position_Salaries.csv')
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
# Selection of the independante variable vector (the features)
x = df.iloc[:,: -1].values

In [10]:
# Selection of the dependante variable vector
y = df.iloc[:, 3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# Splitting the data into the training set and test set

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y ,test_size =0.2, random_state = 0)

In [43]:
print(x_train.shape, y_train.shape)

(8, 54) (8,)

In [44]:
print(x_test.shape, y_test.shape)

(2, 54) (2,)

# Feature scaling

In [46]:
# import the standscaler librairie
#from sklearn.preprocessing import StandardScaler
#sc_x = StandardScaler()

In [47]:
#x_train = sc_x.fit_transform(x_train)
#x_test = sc_x.transform(x_test) # here we don't need to fit the  test set

In [4]:
#x_train
#x_test