# Data Prepocessing

In [3]:
# Importing librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [20]:
#Importing the dataset
df = pd.read_csv('Data.csv')
df.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
# Selection of the independante variable vector (the features)
x = df.iloc[:,: -1].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
# Selection of the dependante variable vector
y = df.iloc[:, 3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# Missing Values

In [11]:
# Taking care of missing values
from sklearn.preprocessing import Imputer

In [13]:
# remplacement des valeurs NaN par la moyenne de la colonne 
imputer = Imputer(missing_values = 'NaN', strategy= 'mean', axis = 0)

In [18]:
imputer = imputer.fit(x[:, 1:3]) # 1:3 {selectionne la colonne 1 et 2} colonne 1 =age, colonne 2 =salary
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [19]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# Categorical data

In [26]:
# Transformation des donnees contenant des caracteres en numerique =
# colonne 0 = Country, et colonne 3 = purchase
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [32]:
# Dans la colonne country nous avons trois caracteres differents: France ,spain, germany
labelencoder_x = LabelEncoder()
x[:, 0] = labelencoder_x.fit_transform(x[:, 0]) 
onehotencoder = OneHotEncoder(categories='auto') #categorical_features = [0]
x = onehotencoder.fit_transform(x).toarray()

In [36]:
# colonne country
x

In [34]:
# colonne purchase on a yes et no qu'on veux transformer en numerique
labelencoder_y = LabelEncoder()
y = labelencoder_x.fit_transform(y)

In [35]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

# Splitting the data into the training set and test set

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y ,test_size =0.2, random_state = 0)

In [43]:
print(x_train.shape, y_train.shape)

(8, 54) (8,)

In [44]:
print(x_test.shape, y_test.shape)

(2, 54) (2,)

# Feature scaling

In [46]:
# import the standscaler librairie
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()

In [47]:
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test) # here we don't need to fit the  test set

In [50]:
#x_train

In [49]:
x_test

array([[ 1.        , -1.        , -1.        ,  1.        ,  1.        ,
        -1.        ,  2.64575131, -2.64575131, -2.64575131,  2.64575131,
        -0.77459667,  0.77459667,  0.77459667, -0.77459667,  0.37796447,
        -0.37796447, -1.        ,  1.        ,  0.37796447, -0.37796447,
         0.37796447, -0.37796447,  0.37796447, -0.37796447,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447,  0.37796447, -0.37796447,
         0.37796447, -0.37796447,  0.        ,  0.        ,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447, -1.        ,  1.        ,
         0.37796447, -0.37796447,  0.37796447, -0.37796447,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447,  0.37796447, -0.37796447,
         0.37796447, -0.37796447,  0.        ,  0.        ],
       [ 1.        , -1.        , -1.        ,  1.        ,  1.        ,
        -1.        ,  2.64575131, -2.64575131, -2.64575131,  2.64575131,
        -0.77459667,  0.77459667,  0.77459667, -0.77459667,  0.37796447,
        -0.37796447,  0.        ,  0.        ,  0.37796447, -0.37796447,
         0.37796447, -0.37796447,  0.37796447, -0.37796447,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447,  0.37796447, -0.37796447,
         0.37796447, -0.37796447, -1.        ,  1.        ,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447,  0.        ,  0.        ,
         0.37796447, -0.37796447,  0.37796447, -0.37796447,  0.37796447,
        -0.37796447,  0.37796447, -0.37796447,  0.37796447, -0.37796447,
         0.37796447, -0.37796447, -1.        ,  1.        ]])